@metalic-color: #6A7059;
@screen-background: #003D5C;
@screen-shadow: #003D5C;
@screen-highlight: #9BCC93;
@screen-foreground: #1A9481;/*#9BCC93*/

body {
    font-family: Consolas, sans-serif;
    background-color: @screen-background;
    color: @screen-foreground;
    margin: 0px;
	overflow: hidden;
}

h1 {
	font-size: 50px;
	margin: 10px 0px;
}

.background {
	background: -webkit-linear-gradient(270deg, @screen-background 90%, @screen-foreground 100%);
	z-index: -1;
	animation: horiz_move 10s infinite linear;
	-webkit-animation: horiz_move 10s infinite linear;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: translate3d(0%, -100%, 0px);
}

@-webkit-keyframes horiz_move {
	0% {
		transform: translate3d(0%, -100%, 0px);
		opacity: 0;
	}
	5% {
		transform: translate3d(0%, -100%, 0px);
		opacity: 1;
	}
	10% {
		transform: translate3d(0%, 50%, 0px);
		opacity: 0.5;
	}
	20% {
		opacity: 0;
	}
	100% {
		transform: translate3d(0%, 50%, 0px);
		opacity: 0;
	}
}

input, button {
    font-family: Consolas, sans-serif;
    background-color: @screen-background;
    color: @screen-foreground;
    border: 2px @screen-foreground solid;
    padding: 10px;
    text-shadow: 2px 0px 2px @screen-foreground;
    box-shadow: 2px 0px 2px @screen-foreground;
	width: 300px;
	height: 20px;
	margin: 5px;
}

button {
    background-color: @screen-background;
    color: @screen-highlight;
    border: 2px @screen-highlight solid;
    text-shadow: 2px 0px 2px @screen-highlight;
    box-shadow: 2px 0px 2px @screen-highlight;
	width: 324px;
	height: 40px;
}

input:focus, button:focus {
	border: 2px @screen-foreground solid;
	outline: none;
}

.list_element {
    background-color: @screen-background;
    color: @screen-highlight;
    border: 2px @screen-highlight solid;
    text-shadow: 2px 0px 2px @screen-highlight;
    box-shadow: 2px 0px 2px @screen-highlight;
	width: 324px;
	height: 40px;
}

.zone {
    width: 100%;
    height: 100%;
    background-color: @screen-background;
    box-shadow: 5px 5px 10px @screen-shadow inset;
    overflow: hidden;
    text-shadow: 2px 0px 2px @screen-foreground;
	position: absolute;
}

.content {
    position: absolute;
    left: 90px;
    top: 150px;
	z-index: 1;
}

.timer_urgent {
	color: @screen-highlight
}
