@metalic-color: #222;
@screen-background: #250;
@screen-foreground: @screen-background + #220;

body {
    font-family: Consolas, sans-serif;
    background-color: @metalic-color;
    color: @screen-foreground;
    margin: 0px;
}

h1 {
	font-size: 50px;
	margin: 10px 0px;
}

.background {
	background: url('img/1509-grunge-metal-textures.jpg');
	opacity: 0.2;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body .background {
	background: url('img/1509-grunge-metal-textures.jpg');
}

.zone .background {
	/*background: url('img/noise.png');*/
	background: -webkit-linear-gradient(270deg, @screen-background 70%, @screen-foreground 100%);
	z-index: 0;
	animation: horiz_move 10s infinite linear;
	-webkit-animation: horiz_move 10s infinite linear;
	border-radius: 50%;
}

@-webkit-keyframes horiz_move {
	0% {
		background-position: 0px 0px;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	10% {
		background-position: 0px 500px;
		opacity: 0.5;
	}
	20% {
		opacity: 0;
	}
	100% {
		background-position: 0px 500px;
		opacity: 0;
	}
}

span {
    font-style: italic;
}

input, button {
    font-family: Consolas, sans-serif;
    background-color: @screen-background;
    color: @screen-foreground;
    border: 2px @screen-foreground solid;
    padding: 10px;
    text-shadow: 2px 0px 2px @screen-foreground;
    box-shadow: 2px 0px 2px @screen-foreground;
	width: 300px;
	height: 20px;
	margin: 5px;
}

button {
	width: 324px;
	height: 40px;
}

input:focus {
	border: 2px @screen-foreground solid;
	outline: none;
}

.zone {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: @screen-background;
    box-shadow: 5px 5px 20px #000 inset;
    overflow: hidden;
    text-shadow: 2px 0px 2px @screen-foreground;
	position: absolute;
}

.content {
    position: relative;
    left: 90px;
    top: 150px;
	z-index: 1;
}
