<div ng-controller="PlayingCtrl">
    <h2>Time</h2>
    <div><h3>News</h3>
        <ul>
            <li ng-repeat="m in messages">{{ m }}</li>
        </ul>
    </div>
    <div><h3>Role</h3>
        <div>{{role}}</div>
    </div>
    <div><h3>Action</h3>
        <button ng-disabled="!canAct || requiresTarget" ng-click="doAction('')">{{action}}</button>
    </div>
    <div><h3>Players</h3>
        <ul>
            <li ng-repeat="p in otherPlayers track by $index"><button ng-disabled="!canAct || !requiresTarget" ng-click="doAction(p.id)">{{p.name}}</button></li>
        </ul>
    </div>
</div>
